<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hnu.heshequ">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 闪光权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 自杀权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 地理位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="remove" />

    <application
        android:name="com.hnu.heshequ.MeetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetApplication"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hnu.heshequ.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.hnu.heshequ.activity.knowledge.CreateArticleActivity" />
        <activity android:name="com.hnu.heshequ.activity.knowledge.MyColoumnDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.knowledge.MyArticleDetialActivity" />
        <activity android:name="com.hnu.heshequ.activity.knowledge.MyKnowledgeActivity" />
        <activity android:name="com.hnu.heshequ.activity.knowledge.SubscriptionDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.knowledge.ArticleDetialActivity" />
        <activity android:name="com.hnu.heshequ.classification.ClassifationActivity" />
        <activity android:name="com.hnu.heshequ.activity.oldsecond.SecondActivity" />

        <activity
            android:name="com.hnu.heshequ.launcher.MainActivity"
            android:exported="true"
            android:theme="@style/NoActionBarAppTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hnu.heshequ.activity.WebActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.ImagePreviewActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.EditorNoticeActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.QRcodeActivity" />
        <activity android:name="com.hnu.heshequ.activity.TeamMembersActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.PersonalInformationActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.OtherSayActivity" />
        <activity android:name="com.hnu.heshequ.activity.login.LabelSelectionActivity" />
        <activity android:name="com.hnu.heshequ.activity.oldsecond.GoodsecondActivity" />
        <activity android:name="com.hnu.heshequ.activity.newsencond.SecondhandPostActivity" />
        <activity android:name="com.hnu.heshequ.activity.oldsecond.secondhanduserinfo" />
        <activity android:name="com.hnu.heshequ.activity.flowview.TeamActivity" />
        <activity android:name="com.hnu.heshequ.activity.flowview.WenwenActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyPullTheBlackActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.AttentionActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.MessageActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.ChatHistoryActivity" />
        <activity android:name="com.hnu.heshequ.activity.login.LoginActivity"
            android:theme="@style/NoActionBarAppTheme">
        </activity>
        <activity android:name="com.hnu.heshequ.activity.login.SignActivity"
            android:theme="@style/NoActionBarAppTheme">
        </activity>
        <activity android:name="com.hnu.heshequ.activity.login.StudentIdLoginActivity" />
        <activity android:name="com.hnu.heshequ.activity.login.ForgetPwdActivity" />
        <activity android:name="com.hnu.heshequ.activity.login.DefaultProblemActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.TeamIntroduceActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.PartyBuildingActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.SayDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.AddTjActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.ChangePhoneNumActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.BaseInfoActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.SettingActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.AuthenticationActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyQuestionActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MySayActivity" />
        <activity android:name="com.hnu.heshequ.activity.wenwen.WenwenDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.wenwen.WwSecondActivity" />
        <activity android:name="com.hnu.heshequ.activity.wenwen.ZcArticleActivity" />
        <activity android:name="com.hnu.heshequ.activity.wenwen.ZcQusetionActivity" />
        <activity android:name="com.hnu.heshequ.activity.wenwen.SendQuestionActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyCollectActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyFootprintActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyTeamActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyMessageActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.FeedBackActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.AddTeamActivity" />
        <activity android:name="com.hnu.heshequ.activity.statement.EditorialBulletinActivity" />
        <activity android:name="com.hnu.heshequ.activity.statement.ReleaseActivitiesActivity" />
        <activity android:name="com.hnu.heshequ.activity.statement.PublishVoteActivity" />
        <activity android:name="com.hnu.heshequ.activity.statement.VoteDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.StatementActivity" />
        <activity
            android:name="com.hnu.heshequ.activity.team.StatementDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.hnu.heshequ.activity.team.TjDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.mine.MyQuestionActivity1" />
        <activity android:name="com.hnu.heshequ.activity.team.SearchMembersActivity" />
        <activity android:name="com.hnu.heshequ.activity.HomeSearchActivity" />
        <activity android:name="com.hnu.heshequ.activity.WwSearchActivity" />
        <activity android:name="com.hnu.heshequ.activity.TeamSearchActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.hnu.heshequ.activity.statement.BullertinDetailActivity" />
        <activity
            android:name="com.hnu.heshequ.activity.team.ActivityDateilActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.hnu.heshequ.activity.team.ApplyJoinTDActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.AppliedMemberActivity" />
        <activity android:name="com.hnu.heshequ.activity.ScanActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.TeamDetailActivity" />
        <activity android:name="com.hnu.heshequ.secondma.android.CaptureActivity" />
        <activity android:name="com.hnu.heshequ.activity.ReportActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.ChooseTeamLableActivity" />
        <activity android:name="com.hnu.heshequ.activity.team.NewAddActivity" />
        <activity android:name="com.hnu.heshequ.activity.oldsecond.GoodDetailActivity" />
        <activity android:name="com.hnu.heshequ.activity.oldsecond.MygoodActivity" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendActivity" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendFiltrate" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendSearch" />
        <activity android:name="com.hnu.heshequ.activity.friend.SendNew" />
        <activity android:name="com.hnu.heshequ.activity.timetable.TimetableCheckin" />
        <activity android:name="com.hnu.heshequ.activity.timetable.TimetableSelect" />
        <activity android:name="com.hnu.heshequ.activity.timetable.TimetableShow" />
        <activity android:name="com.hnu.heshequ.activity.timetable.TimetableSecondCheckin" />
        <activity android:name="com.hnu.heshequ.activity.timetable.ZhouSelect" />
        <activity android:name="com.hnu.heshequ.activity.timetable.Zhoushow" />
        <activity android:name="com.hnu.heshequ.activity.timetable.ZhongnanShow" />
        <activity android:name="com.hnu.heshequ.activity.timetable.TimetableAddCourse" />
        <activity android:name="com.hnu.heshequ.activity.timetable.ShidaZhouShow" />
        <activity android:name="com.hnu.heshequ.activity.timetable.ShidaTimetableShow" />
        <activity android:name="com.hnu.heshequ.activity.timetable.ShidaZhouSelect" />
        <activity android:name="com.hnu.heshequ.activity.friend.NewDetail" />
        <activity android:name="com.hnu.heshequ.activity.friend.MyDynamic" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendShijuanShow" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendGexingSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendJiaxiangSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendNianjiSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendNichengset" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendAnswerQues" />
        <activity android:name="com.hnu.heshequ.activity.friend.OthersDynamic" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendAddNews" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendQinganSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendShengriSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendShijuanSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.Friendxingbieset" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendXuexiaoSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendXueyuanSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendZhuanyeSet" />
        <activity android:name="com.hnu.heshequ.activity.friend.MyFriendDetail" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendFiltrateShow" />
        <activity android:name="com.hnu.heshequ.activity.friend.GPSActivity" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendDetail" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendNearDetail" />
        <activity android:name="com.hnu.heshequ.activity.friend.FriendShowAnswers" />
        <activity android:name="com.hnu.heshequ.activity.oldsecond.GoodsearchActivity" />
        <activity android:name="com.hnu.heshequ.activity.newsencond.SecondHandActivity" />
        <activity android:name="com.hnu.heshequ.activity.newsencond.SearchGoodActivity" />
    </application>


</manifest>